

.link{
    
}
.header {display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
height: 300px;
background-position: 20% 50%;
background-image: url("https://cdn.pixabay.com/photo/2021/10/30/12/41/mountains-6754215_640.jpg");}
.img-wrapp{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    overflow: hidden;
    
}
.nav-list{display: flex;
    list-style-type: none;
    gap: 50px;
    font-size: 40px;
    background-color: rgba(218, 120, 84, 0.36);
    padding: 10px;
}
.main{
    display: flex;
    justify-content: space-around;
    padding-top: 100px;
    padding-bottom: 100px;
    background-color: rgb(230, 181, 109);
}
.main-header{display: none;}
.card{
    flex-basis: 25%;
    height: 400px;

}